body {
    margin: 0 auto;
    width: 90%;
    background-color:lightgray;
}

#products-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 1500px;
}

#new-product-form {
    background-color: lightsalmon;
}

.card {
    flex: 0 0 auto;
    width: 325px;
    height: 325px;
    border: solid black 1px;
    margin: 10px 10px;
    padding: 8px;
    text-align: center;
    background-color:lightblue;
}
  
