body {
    margin: 0 auto;
    width: 90%;
}

#products-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 1000px;
    /* justify-content: space-between; */
}

.card {
    flex: 0 0 auto;
    width: 250px;
    height: 250px;
    border: solid black 1px;
    margin: 10px 5px;
    padding: 8px;
}

.image {
    display: block;
    width: 40%;
    height: auto;
  }
  
